.container {
    background-color: lightblue;
    border-top: 4px solid darkgreen;
    border-left: 2px solid darkgreen;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.maininfo {
    display: block;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
}

img {
	width: 100%;
}

.box {
    background-color: white;
    min-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.box p {
    margin: 10px 10px;    
}

.box button {
    margin-bottom: 10px;
}

@media all and (min-width: 768px) {
    .container {
        background-color: lightgrey;
    }

}