h1{
    font-size: 40px;
    line-height: 2;
    color: yellow;
    text-transform: capitalize;
    letter-spacing: 5px;
}

a
{    text-decoration: none;
     color: yellow
}

.FOOTER-MENU{list-style: none}

.footer-menu_item a{
    text-transform: uppercase
}

p{
    font-size: 24px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 25px
}