* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}/*первичный сброс настроек браузера*/

.copytobufferbutton {
    display: block;
    margin: 15px auto 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: copy;
}

.copystatus {
    display: block;
    text-align: center;
    font-size: 12px;
    min-height: 18px;
}

.modal-window01-content {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 1px outset lightgray;
    overflow: auto;
    word-wrap: break-word;
    font-size: 14px;
    color: navy;
}

.container {
    margin: 10px;
}

h2 {
    margin-bottom: 5px;
}

.addsection {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.field_description {
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.fields {
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 2px;
    word-wrap: break-word;/*для слишком длинных пар*/
}

.userinput {
    min-height: 24px;
    width: 60%;
}

.userbuttons {
    background-color: #e3e5e8;
    color: #505050;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 8px;
    border: 1px solid #777879;
    border-radius: 5px;
    width: 132px;
    height: 34px;
    margin: 1px 0;
}

.addbutton {
    margin: 5px 0;
}

.displaysection {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.displaysectionleft {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    overflow: auto;
}

.listdisplayarea {
    min-height: 160px;
}

.burger-menu {
    display: block;
}

/*вёрстка mobile-first
на три варианта ширины экрана - по порядку:
1..479 - первая часть этого css
480..767 - часть после @media (min-width:480px)
768 и более - часть после @media (min-width:768px)*/

.menu { display: none; list-style: none; }/*меню справа при ширине окна браузера менее 480 не отображается, а будет выпадать из бургер-кнопки*/

.trigger {/*бургер-кнопка*/
    display: inline-block;
    background-color: transparent;/*заменяем стандартный серый цвет фона кнопки бургер-меню для красоты на прозрачный*/
    border: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    width: 45px;
    height: 50px;
}

.trigger i {/*отрисовка самой бургер-кнопки полосками*/
    display: block;
    width: 45px;
    height: 8px;
    margin: 6px auto;
    background: #222;
}

.trigger:focus {/*на Mac и Iphone бесполезно т.к. кнопки даже при нажатии на них НЕ получают фокус; только для красоты на Android*/
    outline: 1px solid lightgray;
}

.showburgerbuttons {/*вспомогательный класс для показа/скрытия кнопок бургер-меню*/
    display: block;
    height: 144px;
    position: fixed;
    top: 60px;
    right: 10px;
}


/*ADAPTIVE*/
@media (min-width:480px) {/*начало секции --ширина 480 и до 767--*/
    
    .addsection {
        flex-direction: row;
        background-color: #eef2f7;
        max-width: 700px;
        border-radius: 6px 6px 6px 6px;
    }
    
    .addsectionleft {
        flex-basis: 80%;
        max-width: 540px;
    }
    
    .userinput {
        width: 100%;
    }
    
    .userbuttons:hover {
        cursor: pointer;
    }
    
    .addbutton {
        margin: 20px 10px 8px 20px;
        flex-shrink: 0;
    }
    
    .displaysectionleft {
        max-width: 540px;
    }
    
    .trigger { display: none; }/*кнопка бургер-меню при ширине окна браузера 480 и более не отображается*/
    
    .menu {/*зато постоянно отображаются кнопки меню справа*/
        display: flex;
        flex-direction: column;
        margin: 28px 10px 0 20px;
    }
    
}/*конец секции --ширина 480 и до 767--*/


/*ADAPTIVE*/
@media (min-width:768px) {/*начало секции --ширина 768 и больше--*/

    body {
        background-color: #5c87b2;/*цвет фона за основным контейнером*/
    }
    
    .container {
        background-color: #ffffff;
        width: 728px;
        margin: 60px auto 30px;
        padding: 20px;
        padding-right: 35px;
    }
    
    .userinput {
        width: 500px;
    }
    
    .userbuttons:hover {
        background-color: #d5f1fa;
    }
    
    .listdisplayarea {
        width: 500px;
        height: 464px;
    }

}/*конец секции --ширина 768 и больше--*/
