* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}/*первичный сброс настроек браузера*/

.modal-window01-content {
    display: block;
    text-align: center;
    background-color: #ccffcc;
    padding: 10px;
    margin: 5px;
    border: 3px outset darkgray;
    border-radius: 5px;
}

.container {
    margin: 10px;
}

h2 {
    margin-bottom: 5px;
}

.addsection {
    display: flex;
    flex-direction: column;
}

.field_description {
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.fields {
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 2px;
    word-wrap: break-word;/*для слишком длинных пар*/
}

.userinput {
    min-height: 24px;
    width: 60%;
}

.userbuttons {
    background-color: #e3e5e8;
    color: #505050;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 8px;
    border: 1px solid #777879;
    border-radius: 5px;
    width: 132px;
    height: 34px;
    margin: 1px 0;
}

.addbutton {
    width: 140px;
    margin: 5px 0;
}

.displaysection {
    display: flex;
    flex-direction: row;
}

.displaysectionleft {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.listdisplayarea {
    min-height: 160px;
}

.burger-menu {
    display: block;
}

/*вёрстка mobile-first
на три варианта ширины экрана - по порядку:
1..479 - основная часть этого css
480..767 - часть после @media (min-width:480px)
768 и более - часть после @media (min-width:768px)*/

.menu { display: none; list-style: none;}/*меню справа при ширине окна браузера менее 768 не отображается, а будет выпадать из бургер-кнопки*/

.trigger {
    display: inline-block;
    background-color: yellow;/*заменяем стандартный серый цвет фона кнопки бургер-меню для красоты на прозрачный*/
    border: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    width: 45px;
    height: 50px;
}

.trigger i {/*отрисовка самой кнопки бургер-меню*/
    display: block;
    width: 45px;
    height: 8px;
    margin: 6px auto;
    background: #222;
}

.trigger:focus {
    outline: 1px solid lightgray;
}

.show {/*вспомогательный класс для показа/скрытия кнопок бургер-меню*/
    display: block;
    height: 144px;
    position: fixed;
    top: 60px;
    right: 10px;
}


/*ADAPTIVE*/
@media (min-width:480px) {/*начало секции --ширина 480 и до 767--*/

    .trigger { display: none; }/*кнопка бургер-меню при ширине окна браузера 480 и более не отображается*/

    .menu {/*зато постоянно отображаются кнопки меню справа*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 28px 10px 0 20px;
    }
    
    .displaysectionleft {
        max-width: 540px;
    }

}/*конец секции --ширина 480 и до 767--*/


/*ADAPTIVE*/
@media (min-width:768px) {/*начало секции --ширина 768 и больше--*/

    body {
        background-color: #5c87b2;
    }
    
    .container {
        background-color: #ffffff;
        width: 728px;
        margin: 60px auto 30px;
        padding: 20px;
        padding-right: 35px;
    }
    
    .listdisplayarea {
        width: 500px;
        height: 464px;
        overflow: auto;
    }

}/*конец секции --ширина 768 и больше--*/
